<!-- this is added in listing 7.8 -->
<% provide(:title, @user.name) %>

<!-- this file was made in listing 7.4; it is the stub view for showing
	a single user profile -->
<!--	
<%= @user.name %>, 
<%= @user.email %>
-->
<!-- this is a refined version that simply added the gravatar image
	functionality and enclosed it in an h1 tag; gravatar_for is a helper
	method that we will define in 7.8 -->
<!--
<h1>
	<%= gravatar_for @user %>
	<%= @user.name %>
</h1>
-->
<!-- this is the version in listing 7.10; it simply move the user info
	to a styling container; together they made a sidebar -->
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>